amqp
asgiref
async-timeout
billiard
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
coverage
cron-descriptor
Django
django-celery-beat
django-filter
django-timezone-field
djangorestframework
djangorestframework-simplejwt
drf-yasg
idna
inflection
kombu
packaging
Pillow
prompt-toolkit
psycopg2-binary
PyJWT
python-crontab
python-dateutil
python-dotenv
pytz
PyYAML
redis
requests
six
sqlparse
tzdata
uritemplate
urllib3
vine
wcwidth
django-cors-headers